@use '../../Sasscript/scss/SS.scss';

$blue: #122ee0;
$capri: #00bbf9;
$magenta-process: #ff1b8d;
$school-bus-yellow: #fed700;
$tangerine: #fb8500;

@mixin gradient {
   background: linear-gradient(90deg, $capri 10%, $blue 30%, $magenta-process 50%, $tangerine 70%, $school-bus-yellow 90%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

:root {
   color: SS.$black;
   color-scheme: light;
}

body#add {
   @include SS.flex;

   align-items: stretch;
   flex-direction: column;
   text-align: center;

   *:not(#done) {
      margin-bottom: 15px;
   }
}

body#edit {
   @include SS.flex;

   align-items: stretch;
   flex-direction: column;
   overflow: hidden;

   >textarea {
      border: 0;
      box-shadow: none;
      height: calc(100vh - 120px);
      margin: 15px 0;
      min-height: 75vh;
      resize: none;
      outline: 0;
   }
}

body#index {
   header {
      @include SS.flex;

      align-items: center;
      flex-direction: column;

      >h1 {
         @include gradient;

         font-size: 3.5rem;
      }

      >nav {
         @include SS.border;
         @include SS.flex;

         margin: 0;

         >* {
            border: 0;
            box-shadow: none;
            color: inherit;
         }
      }
   }

   main {
      @include SS.flex;

      margin: 20px 0;
      justify-content: center;

      >button {
         margin: 0 10px 10px 0;
      }
   }

   #buttons {
      @include SS.flex;

      background-color: SS.$white;
      bottom: 15px;
      position: fixed;
      left: 15px;
      width: 100%;

      >button {
         @include SS.buttonimg;

         margin-right: 15px;
      }
   }

   .mai {
      color: $magenta-process;
   }

   .nuove {
      color: $capri;
   }

   .preferite {
      color: $tangerine;
   }

   .vecchie {
      color: $blue;
   }
}

body#offline {
   padding: 0;

   img {
      height: 100%;
      width: 100%;
   }
}