@use '../../Sasscript/scss/SS.scss';

$dark-sky-blue: #84bcda;
$madder-lake: #cc3e40;
$jonquil: #ecc30b;
$mandarin: #f37748;
$star-command-blue: #067bc2;

$gradient: linear-gradient(90deg, $star-command-blue 10%, $dark-sky-blue 30%, $jonquil 50%, $mandarin 70%, $madder-lake 90%);

:root {
   color: SS.$black;
   color-scheme: light;
}

body#add {
   @include SS.flex;

   align-items: stretch;
   flex-direction: column;
   text-align: center;

   *:not(#done) {
      margin-bottom: 15px;
   }
}

body#edit {
   @include SS.flex;

   align-items: stretch;
   flex-direction: column;

   >div {
      cursor: text;
      outline: 0;
   }

   >#done {
      margin-bottom: 15px;
   }
}

body#index {
   header {
      @include SS.flex;

      align-items: center;
      flex-direction: column;
      margin-bottom: 20px;

      >h1 {
         background: $gradient;
         font-size: 3.5rem;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
      }

      >nav {
         @include SS.border;
         @include SS.flex;

         margin: 0;

         >* {
            border: 0;
            box-shadow: none;
            color: inherit;
         }

         &:not([class])>* {
            background: $gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         }
      }
   }

   main {
      @include SS.flex;

      justify-content: center;

      >* {
         margin: 0 10px 10px 0;
      }
   }

   #buttons {
      @include SS.flex;

      background-color: SS.$white;
      bottom: 15px;
      position: fixed;
      left: 15px;
      width: 100%;

      >button {
         @include SS.buttonimg;

         margin-right: 15px;
      }
   }

   .mai {
      color: $madder-lake;
   }

   .nuove {
      color: $star-command-blue;
   }

   .preferite {
      color: $jonquil;
   }
}

body#offline {
   padding: 0;

   img {
      height: 100%;
      width: 100%;
   }
}